* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100dvh;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  height: 50px;
  position: fixed;
  inset: 65px 0 0 0;
  z-index: 3;
  text-align: center;
}

section {
  width: 100%;
  height: 100dvh;
  padding-bottom: 200px;
  background-color: #f8bbc6;
  white-space: nowrap;
  overflow: auto;
  position: relative;
  transition: 0.3s;
}

img {
  width: 50%;
  height: 50vh;
  margin: 25vh 10vw 0 0;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  box-shadow: 0 40px 100px rgba(0, 0, 0, 0.4);
  opacity: 0;
  flex-shrink: 0;
  transition: 0.3s;
}

.animate {
  opacity: 1;
}

img:first-child {
  margin-left: 10vw;
}

p {
  height: 30px;
  position: fixed;
  inset: calc(100dvh - 100px) 0 15px 0;
  z-index: 3;
  text-align: center;
}

@media screen and (orientation: portrait) {
  img {
    width: 75%;
  }
}